:root{
	--white: #FFFFFF;
	--black: #000000;
	--basic-red: #EE3643;
	--basic-greylight: #C5C5C5;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-darkgrey: #293449;
	--basic-mediumgrey: #32425C;
	--basic-darkestgrey: #1D2739;

	--special-price-grey: #A9A9A9;
	--special-background-grey: #F1F5F7;
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-light: #F9F5F0;
  --special-darkblue: #212A3A;
  --special-beige: #F7F3EC;
  --special-scale-color: #D7DCDE;
  --special-greyight: #B5B5B5;
  --special-red: #FF5357;
  --special-green: #367315;

	--hover-greenlight: #5FBB2D;
	--active-greendark: #518534;

	--hover-red:  #CA2C37;
	--active-red: #BA2732;

  --black-transparent01: rgba(0, 0, 0, 0.01);
  --black-transparent30: rgba(0, 0, 0, 0.3);
  --black-transparent24: rgba(0, 0, 0, 0.24);
  --black-transparent25: rgba(0, 0, 0, 0.25);
  --black-transparent15: rgba(0, 0, 0, 0.15);
	--white-transparent30: rgba(255, 255, 255, 0.3);
	--white-transparent50: rgba(255, 255, 255, 0.5);
	--hover-greylight: rgba(197, 197, 197, 0.3);
	--active-greylight: rgba(169, 169, 169, 0.3);
}
body{
	margin: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.page{
	/* Если нет контента, страница занимает весь экран */
	height: 100%;
}
.page-body{
	min-height: 100%;
	display:  grid;
	grid-template-rows: min-content 1fr min-content;
  align-content: start;
  /* row-gap: 70px; */
}
.container{
	width: 940px;
	margin: 0 auto;
}
.hidden{
  /* display: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button style */
.button{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
  border: none;
  cursor: pointer;

}
.button-global{
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
}
.button-global:hover{
	/* color: var(--white); */
	background-color: var(--hover-red);
}
.button-global:active {
	/* color: var(--white); */
	background-color: var(--active-red);
}
.button-all-products,
.button-all-makers{
  margin-left: auto;
  min-width: 192px;
}
.button-send-order{
  margin-top: 15px;
  padding-left: 48px;
  padding-right: 42px;
  background-color: var(--special-red);
  border-radius: 2px;

}
.button-about-company{
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.button-write-us{
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.button-buy{
  position: relative;
  min-width: 135px;
  /* height: 38px; */
  padding: 10px 0px 10px 12px;
  margin-top: 38px;
  margin-bottom: 10px;
	box-shadow: inset 0 -3px 0 var(--special-green);
	border-radius: 2px;
  background-color: var(--basic-green);
}
.button-buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 1;
  left: 26px;
  background-image: url(../img/icon-cartmini.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.button-buy:hover{
	background-color: var(--hover-greenlight);
}
.button-buy:active{
	background-color: var(--active-greendark);
}
.button-tabs{
  min-width: 135px;
  /* height: 38px; */
  padding: 8px 25px 5px 20px;
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--basic-mediumgrey);
	background-color: transparent;
}
.button-tabs:hover{
	border-color: var(--basic-mediumgrey);
}
.button-tabs:active{
	border: 3px solid var(--basic-greylight);
	color: var(--basic-greylight);
}
.button-open-catalog{
  min-width: 192px;
  position: absolute;
  bottom: 27px;
}
.button-close{
  position: absolute;
  top: 14px;
  right: 11px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.title{
  margin: 0;
  padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
  text-transform: uppercase;
}

/* Header */
.header{
	padding-bottom: 60px;
	background-color: var(--special-background-grey);
}
.top-header{
	height: 42px;
	background-color: var(--basic-darkgrey);
}
.grid-top-header{
	display: grid;
	grid-template-rows: 42px;
	grid-template-columns: min-content 1fr 150px 150px 150px;
}
.logo{
  width: 108px;
  height: 18px;
}
.logo-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
 	height: 47px;
 	background: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-transparent24);
  padding-bottom: 4px;
 }
 .logo-header:active{
  background: var(--active-red);
  box-shadow: inset 0px -5px 0px var(--black-transparent24);
 }
.search-fill{
  margin: 0;
  padding: 0;
  position: relative;
}
.icon-search{
  position: absolute;
  top: 12px;
  left: 16px;
  fill: var(--white);
  opacity: 0.3;
}
.search:hover + .icon-search{
  opacity: 1;
}
.search:focus + .icon-search{
  opacity: 1;
  fill: var(--basic-red);
}
.search{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 42px;
  color: var(--white);
}
.search::-webkit-input-placeholder{
  color: var(--white);
  opacity: 0.5;
}
.search::-moz-placeholder{
	color: var(--white);
	opacity: 0.5;
}
.search:focus{
  color: var(--black);
  background-color: var(--white);
  outline: none;
}

.header-link
{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
}
.header-link:active{
	color: var(--white-transparent50);
}
.header-link--bookmark{
  position: relative;
  justify-content: flex-end;
  padding-right: 25px;
}
.header-link--bookmark::before{
  position: absolute;
  content:"";
  width: 15px;
  height: 15px;
  top: 1 ;
  left: 21px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.header-link--cart{
  position: relative;
  padding-left: 50px;
}
.header-link--cart::before{
  position: absolute;
  content:"";
  width: 15px;
  height: 15px;
  top: 1 ;
  left: 26px;
  background-image: url(../img/icon-cartmini.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.header-link--cart:hover::before,
.header-link--bookmark:hover::before{
  opacity: 1;
}
.header-link--cart:active::before,
.header-link--bookmark:active::before{
  opacity: 0.3;
}
.header-link--cart:active,
.header-link--bookmark:active{
  background-color: var(--basic-darkestgrey);
}
.header-link--order{
  justify-content: center;
	background-color: var(--basic-green);
}
.header-link--order:hover{
	background-color: var(--hover-greenlight);
}
.header-link--order:active{
	background-color: var(--basic-green);
}
.header-link-cart-active{
	background-color: var(--basic-red);
}
.header-link-cart-active:active{
  background-color: var(--active-red);
}
.grid-header{
	display: grid;
	grid-template-rows: 158px 60px;
	grid-template-columns: 1fr 1fr 1fr;
}
.brief-description{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
  color: var(--basic-red);

  margin: auto 30px;
}
.contacts-header{
  /* margin: 0 auto; */
}
.contact-phone{
	font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
	font-weight: 700;
	color: var(--basic-red);
	text-decoration: none;
	border: 3px solid var(--white);
  text-align: center;
  height: 45px;
  position: relative;
  display: inline-block;
  padding: 7px 45px 8px 74px;
  margin-top: 46px;
  margin-left: 4px;
  vertical-align: middle;
}
.contact-phone::before{
  position: absolute;
  content:"";
  width: 19px;
  height: 19px;
  top: 10px ;
  left: 38px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.contact-address{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
  color: var(--basic-mediumgrey);
  margin-top: 3px;
  margin-left: 17px;
}
.account-area{
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
  padding-left: 12px;
}
.enter{
  position: relative;
  padding: 13px 0px 12px 45px;
}
.register{
  padding: 12px 24px;
}
.icon-enter{
  position: absolute;
  width: 20px;
  height: 17px;
  top: 15px ;
  left: 18px;
  fill: var(--basic-greylight);
}
.enter:hover  .icon-enter,
.button-account--logout:hover .icon-logout,
.button-account--login:hover .icon-user
{
  fill: var(--basic-grey);
}
.enter:active  .icon-enter,
.button-account--logout:active .icon-logout,
.button-account--login:active .icon-user
{
  fill: var(--basic-greylight);
}
.account-area.account-area--login{
  flex-direction: column;
  justify-content: flex-start;
}
.button-account{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 21px;
  line-height: 21px;
  min-width: 120px;
	color: var(--black);
  text-decoration: none;
  background-color: var(--white);

  height: 45px;
  margin-left: 10px;
}
.button-account:hover{
	color: var(--basic-red);
}
.button-account:focus{
  /* outline: 2px solid var(--black); */
}
.button-account:active{
	color: var(--basic-greylight);
}
.button-account--login{
  display: block;
  text-decoration: none;
  margin: 0;
  padding-top: 12px;
  padding-left: 57px;
  width: 100%;
}
.button-account--logout{
  width: 50px;
  height: 100%;
}
.icon-logout{
  position: absolute;
  top: 13px;
  right: 15px;
  fill: var(--basic-greylight);
}
.icon-user{
  position: absolute;
  top: 13px;
  left: 15px;
  fill: var(--basic-greylight);
}
.button-account--login:hover{
	color: var(--black);
}
.button-account--login:active{
	color: var(--basic-greylight);
}

.login-fill{
  margin: 0;
  display: flex;
  position: relative;
  background-color: var(--white);
}
.list-account-link{
  margin: 0;
  margin-top: 5px;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
}
.list-account-link-item{
  position: relative;
  margin-left: 25px;
}
.list-account-link-item:nth-child(1){
  margin-left: 0;
}
.list-account-link-item:not(:nth-child(1))::before{
  position: absolute;
  left: -14px;
  top: 10px;
  content: "";
  height: 4px;
  width: 4px;
  display: inline-block;
  background-color: var(--basic-mediumgrey);
  border-radius: 50%;
  vertical-align: middle;
}
.account-link{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-mediumgrey);
	text-decoration: none;
}
.account-link:hover{
	color: var(--basic-red);
}
.account-link:active{
	color: var(--basic-greylight);
}
.list-account-link-item:active:not(:nth-child(1))::before{
  background-color: var(--basic-greylight);
}
.navigation{
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: var(--basic-mediumgrey);
  box-shadow: inset 0 -5px 0 var(--basic-darkgrey);

  display: flex;
  justify-content: center;
}
.list-navigation{
	margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
	list-style: none;

  display: flex;
  flex-basis: 100%;
}
.list-navigation-item{
  display: flex;
}
.navigation-link{
  padding-right: 28px;
  padding-left: 28px;

	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navigation-link:visited{
	/* color: var(--white); */
}
.navigation-link:hover{
	background-color: var(--basic-darkgrey);
}
.navigation-link:active{
	background-color: var(--basic-darkestgrey);
	color: var(--white-transparent50);
}

/* Main */
/* Products */
.products{
  padding-top: 59px;
 	padding-bottom: 59px;
	background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gallery-content{
  grid-area: slider;
  position: relative;
  align-self: flex-start;
  order: 2;
  margin-top: 20px;
}


.list-products{
	padding: 0;
	margin: 0;
	list-style: none;
	color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.list-products-serv{
	padding: 0;
	margin: 0;
	list-style: none;
	color: var(--white);
  justify-content: flex-start;
  order: 3;
  margin-left: 20px;
}
.list-products-item{
  text-decoration: none;
}
.list-products-item a:visited{
	color: var(--white);
}
.list-products-item--title{
  font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 23px;
}
.product-description{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--white-transparent30);
  color: var(--white);
  text-decoration: none;
  margin-left: 23px;
  padding: 10px 0px;
  display: inline-block;
  min-width: 135px;
  text-align: center;
  vertical-align: middle;
}
.product-description:hover{
	background-color: var(--hover-greylight);
}
.product-description:active{
	background-color: var(--active-greylight);
}
.list-products-item{
  position: relative;
  overflow: hidden;
  height: 123px;
  width: 300px;
  margin-right: 20px;
}
.list-products-item:nth-child(3n){
  margin-right: 0;
}
.list-products-item--material
{
  background-color: var(--special-yellow);
  background-image: url(../img/bucket.svg);
  background-repeat: no-repeat;
  background-position: 84% 50%;
}
.list-products-item--tools{
  background-color: var(--special-blue);
  background-image: url(../img/drill.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.list-products-item--tehc{
  background-color: var(--special-lilac);
  background-image: url(../img/tractor.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.list-products-item--discount{
  background-color: var(--special-greenlight);
  margin-right: 0;
  margin-top: 20px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.list-products-item--delivery{
  background-color: var(--special-yellowlight);
  margin-right: 0;
  margin-top: 20px;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

/* Section popular-products */
.popular-products{
 	display:  grid;
 	grid-auto-rows: 89px 1fr;
 	row-gap: 20px;
  margin-bottom: 50px;
}
.popular-products--header,
.popular-makers--header
{
  display: flex;
  padding-left: 28px;
  padding-right: 18px;
  background-color: var(--special-light);
  align-items: center;

}
.list-popular-product{
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.list-popular-product-item{
	position: relative;
	width: 220px;
	height: 318px;
	background-color: var(--white);
	box-sizing: border-box;
	border: 1px solid var(--active-greylight);
	overflow: hidden;

  margin-right: 20px;
  margin-bottom: 18px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-popular-product > .list-popular-product-item:nth-child(4n){
	margin-right: 0;
}
.list-popular-product--catalog > .list-popular-product-item:nth-child(3n){
  margin-right: 0;
}
.new-thing::before{
	content: "new";
  position: absolute;
  z-index: 3;
	top: 8px;
	right: -27px;
	width: 100px;
	height: 30px;
	transform: rotate(45deg);

	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--basic-red);
}
.list-popular-product-item:hover{
	filter: drop-shadow(0 4px 20px var(--black-transparent15));
}
.list-popular-product-item:hover .buttons-hover-wrap,
.list-popular-product-item:focus-within .buttons-hover-wrap{
  z-index: 1;
}
.buttons-hover-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180px;
  background-color: var(--white);
}
.buttons-hover-wrap:hover{

}
.img-product{
  object-fit: scale-down;
  min-height: 180px;
}
.popular-product-description{
	font-weight: 700;
	font-size: 18px;
  line-height: 20px;
  text-align: center;
  max-width: 185px;
  margin: auto 0 0 0;
 /* Обязательные объявления: */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Ограничиваем блок текста тремя строками */
  -webkit-line-clamp: 3;
}
.price{
	margin: 0;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
}
.price-past{
  margin-top: 7px;
	text-decoration-line: line-through;
	color: var(--special-price-grey);
}
.no-price-past{
  margin-top: 7px;
  color: var(--white);
}
.price-present{
  align-self: flex-start;
  margin-top: 14px;
  margin-left: 45px;
	width: 176px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	border-radius: 2px;
	color: var(--white);
	background-color: var(--basic-red);
	background-image:   linear-gradient(225deg, white 25%, transparent 25%),
    					        linear-gradient(315deg, white 25%, transparent 25%);
}
/* Section popular-makers */
.popular-makers{
	display: grid;
	grid-template-rows: 89px 1fr;
  row-gap: 20px;
  margin-bottom: 50px;
}
.list-makers{
	padding: 0;
	margin: 0;
	list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list-makers-item{
	width: 220px;
	height: 145px;
  background-color: var(--white);
	display: flex;
  align-items: center; /*выравнивания элементов вдоль поперечной оси*/
  justify-content: center;

  margin-right: 20px;
  margin-bottom: 20px;
}
.list-makers-item:nth-child(4n){
  margin-right: 0;
}
.maker-link{
  display: flex;
  justify-content: center;
  align-items: center;
	width: 220px;
  height: 145px;
  background-color: var(--white);
  border: 1px solid var(--special-background-grey);
}
.maker-link:hover{
  box-shadow: 0 4px 20px var(--black-transparent15);
}
.maker-link:active{
  opacity: 0.5;
  box-shadow: 0 4px 20px var(--black-transparent15);
}

/* Section services */
.services{
  padding-top: 66px ;
  background-color: var(--special-background-grey);
}
.grid-services{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: minmax(285px, 1fr);
}
.about-service{
}
.services-description{
  margin-top: 25px;
  margin-bottom: 0;
}
.services-description--activate{
  margin-top: 27px;
}
.list-services{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 3px;
}
.list-services::after{
  position:  absolute;
  right: 0;
  top: -50px;
  content:"";
  height: 280px;
  width: 10px;
  background-image:  url(../img/backgroung-service.png);
}
.slider-services-list{
  margin: 0;
  padding: 0;
}
.description-services-item{
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;

  padding-left: 80px;
  height: 100%;
  display: none;
}
.description-services-item--activate{
  display: block;
}
.description-services-item--delivery{
  background-image: url(../img/truck.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.description-services-item--guarantee{
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.description-services-item--credit{
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.list-services-item{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: var(--white);
  background-color: var(--basic-mediumgrey);

  display: block;
  width: 240px;
  height: 61px;
  text-decoration: none;

  padding: 13px 0 17px 22px;
}
.list-services-item:hover{
	background-color: var(--basic-darkgrey);
}
.activate,
.activate:hover{
	color: var(--basic-mediumgrey);
	background-color: var(--white);
}
.description-credit{
  margin-top: 28px;
  margin-bottom: 35px;
}
/* Section company */
.grid-company-contacts{
  padding-top: 70px;
  padding-bottom: 70px;

	display:  grid;
	grid-template-columns: 2fr 300px;
}
.company{
}
.company-description{
  margin-top: 25px;
  margin-bottom: 0px;
}
.list-partners{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 27px;
}
.list-partners-item{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
}
.list-partners-item:first-child{
  margin-top: 3px;
}
.list-partners-item::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 12px;
  /* margin-bottom: 4px; */
  background-color: var(--basic-red);
  vertical-align: middle;

}
.contacts{
  width: 300px;
}
.description-contact{
  margin-top: 24px;
  margin-bottom: 0;
}
.map{
  margin-top: 32px;
}
 /* Footer */
 .footer{
 	background-color: var(--basic-mediumgrey);
 }
 .footer-top{
 	display: grid;
  grid-template-columns: min-content 1fr;
  padding-bottom: 54px;
 }
 .footer-bottom{
  height: 107px;
 	background-color: var(--basic-darkgrey);
 }
 .grid-footer-bottom{
    display: flex;
    flex-basis: 100%;
    height: 100%;
    align-items: center;
 }
 .logo-footer{
    width: 220px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 var(--black-transparent24);
    padding-bottom: 4px;
 }
 .contacts-footer{
   max-width: 380px;
 }
 .contact-footer-description{
 	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
  color: var(--special-background-grey);
  margin: 0;
  padding-top: 22px;
  padding-left: 2px;
  white-space: pre;
 }
 .footer-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 37px;
 }
 .footer-navigation > .list-navigation{
   padding: 0;
   justify-content: flex-end;
   align-items: flex-start;
 }
 .list-navigation-item--footer{
  padding: 0;
  margin-left: 60px;
}
.navigation-link--footer{
  padding: 0;
  padding-left: 1px;
 	color: var(--special-background-grey);
 }
 .navigation-link--footer:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
 .navigation-link--footer:active{
  opacity: 0.5;
  text-decoration: none;
 }
.navigation-link-product--footer{
  margin-top: 12px;
  padding: 0;
 	color: var(--special-yellowlight);
 }
.navigation-link-product--footer:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
.navigation-link-product--footer:active{
  text-decoration: none;
	color: var(--special-yellowlight);
	opacity: 0.5;
 }
.copyright{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
  color: var(--white);
  margin: 0;
}
.social{
  margin-left: 160px;
}
.list-social{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.list-social-item{
  margin: 1px;
  width: 44px;
  height: 44px;
  background-color: var(--special-darkblue);
  border-radius: 50%;
}
.list-social-item:hover,
.list-social-item:active{
  background-color: var(--basic-red);
}
.social-button{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.mail{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
  color: var(--white);
  margin: 0;
  margin-left: 116px;
}
.mail-address{
  text-decoration: none;
	color: var(--special-yellowlight);
}
.mail-address:hover{
	text-decoration: underline;
}
.mail-address:active{
	color: var(--active-red);
	text-decoration: none;
}
.maker{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
  color: var(--white);
  margin: 0;
  margin-left: 53px;
  justify-self: end;
}
.site{
	color: var(--special-yellowlight);
	text-decoration: none;
}
.site:hover{
	text-decoration: underline;
}
.site:active{
	color: var(--active-red);
	text-decoration: none;
}

/*+++++++++++++++++++++++++ Catalog +++++++++++++++++++++++++ */
.grid-catalog{
  padding-bottom: 59px;
	display: grid;
	align-content: start;
	grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  /* row-gap: 20px; */
  column-gap: 20px;
}
.breadcrumbs{
	margin: 18px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
	flex-direction: row; /* значение по умолчанию, главная ось направлена слева направо */
	justify-self: flex-start; /* элементы располагаются у начала главной оси */
  align-items: center;
}
.breadcrumbs-item{
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 40px;
}
.breadcrumbs-item:after{
  content: "";
  position: absolute;
  top: 5px;
  right: -25px;
  width: 8px;
  height: 13px;
  background-image: url(../img/icon-right-small-arrow.svg);
  background-repeat: no-repeat;
}
.breadcrumbs-item--current:after{
  display: none;
}
.breadcrumbs-item:last-child{
  margin-right: 0;
}
.breadcrumbs-link{
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}
.breadcrumbs-link:hover {
  color: var(--basic-greylight);

}
.breadcrumbs-link:active {
	color: var(--active-greylight);
}
.title-catalog{
  padding: 29px 0 30px 29px;
  margin-bottom: 20px;
	grid-column-start: 1;
	grid-column-end: -1;
  background-color: var(--special-background-grey);
}
.filters{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
  grid-row-end: -1;
}
.filter{
  margin-top: 15px;
}

.label{
  position: relative;
  cursor: pointer;
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label::before{
  background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox:hover + label::before{
  background-image: url(../img/checkbox-off-hover.svg);
}
.filter-input-checkbox:hover:checked + label::before{
  background-image: url(../img/checkbox-on-hover.svg);
}
.filter-input-checkbox:disabled + label::before{
  background-image: url(../img/checkbox-off-hover.svg);
  opacity: 0.3;
}
.filter-input-checkbox:disabled:checked + label::before{
  background-image: url(../img/checkbox-on-hover.svg);
  opacity: 0.3;
}
.filter-input-radio + label::before{
  content: "";
  position: absolute;
  left: -20px;
  top:-2px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
  /* outline: 2px solid lawngreen; */
}
.filter-input-radio:checked + label::after{
  content: "";
  position: absolute;
  left: -12px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}
.filter-input-radio:hover + label::before{
  border: 4px solid var(--special-greyight);
}
.filter-input-radio:hover:checked + label::after{
  background-color: var(--special-greyight);
}
.filter-input-radio:disabled + label::before{
  border: 4px solid var(--special-greyight);
  opacity: 0.3;
}
.filter-input-radio:disabled + label::after{
  background-color: var(--special-greyight);
  opacity: 0.3;
}
.sort{
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--special-beige);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-filter{
  margin: 0;
  padding-top: 9px;
  padding-left: 18px;
  padding-bottom: 10px;
}
.title-sort{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--special-beige);
  border-radius: 2px;
}
.sort-title-filter{
  margin-top: 9px;
  margin-bottom: 10px;
  margin-left: 19px;
  margin-right: 140px;
}
.sort-type{
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var( --black-transparent30);
  /* opacity: 0.3; */
  border-bottom: 1px dotted var(--basic-red);
}
.sort-type:hover{
  color: var(--black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}
.sort-type--active{
  color: var(--basic-red);
  border-bottom: none;
  opacity: 1;
}
.sort-type--price{
  margin-right: 70px;
}
.sort-type--types{
  margin-right: 65px;
}
.sort-type--function{
  margin-right: 46px;
}
.sort-direction{
  fill: var(--basic-greylight);
}
.sort-direction--up{
  margin-right: 21px;
  transform: rotate(180deg);
}
.sort-direction--active{
  fill: var(--basic-red);
}
.sort-direction--down{

}
.sort-direction--up:hover,
.sort-direction--down:hover{
  fill: var(--black);
}
.section-list-products{
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
  grid-row-end: -2;
  margin-top: 28px;
}
.list-popular-product--catalog{
	margin: 0;
	padding: 0;

  display: flex;
  flex-wrap: wrap;
}
.pagination{
  margin: 0;
  margin-top: 30px;
	padding: 0;
	grid-column-start: 2;
	grid-column-end: -1;
  list-style: none;

  display: flex;
}
.pagination-link{
	font-size: 13px;
	line-height: 18px;
	text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	border: 1px solid var(--active-greylight);
  border-radius: 2px;
  display: block;
  padding: 10px 15px;
  margin-right: 10px;
  color: var(--black);
}
.pagination-link--next{
  padding: 10px 31px;
}
.pagination-link:visited {
	color: inherit;
}
.pagination-link:hover {
	border-color: var(--basic-greylight);
}
.pagination-link:active {
	border-color: var(--basic-red);
}
.pagination-link--active{
	border: none;
	border-radius: 1px;
	color: var(--white);
	background-color: var(--basic-red);
}
.about{
  padding-top: 64px;
  padding-bottom: 56px;
	background-color: var(--special-background-grey);
}
.about-perf--description{
  margin-top: 25px;
}
.modal-add-cart{

}
.add-success{
  margin: 73px 0 67px 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
.button-order{
  width:192px;
}
.button-resume{
  width:192px;
  padding: 11px 31px;
  margin-left: 10px;
	background-color: var(--white);
	color: var(--black)
}
.modal-add-cart--bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
	background-color: var(--special-background-grey);
}


/* ++++++++++Filter+++++++++++++++++ */

.filter-item{
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--active-greylight);
}
.filter-item--makers{
  padding-bottom: 10px;
}
.filter-item:last-of-type{
  border-bottom: none;
  padding: 0;
  margin-bottom: 20px;
}
.filter-item legend{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-item--power legend{
  margin-bottom: 18px;
}
.range-filter{
  width: 220px;
}
.range-control{
  position: relative;
  margin-bottom:  9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  background-color: var(--special-beige);
  border-radius: 2px;
}
.range-control .scale{
  height: 2px;
  background-color: var(--special-scale-color);
}
.range-control .bar{
  height: 2px;
  width: 10px;
  background-color: var(--basic-green);
}

.range-control .toggle{
  position: absolute;
  left: 0;
  top: 31px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--basic-grey);
  border: 8px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.range-control .toggle-min{
  left: 18px;
}
.range-control .toggle-min{
  left: 28px;
}
.price-control{
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}
.price-control input{
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  height: 38px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: var(--special-beige);
}
.price-control input::-webkit-outer-spin-button,
.price-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
.filter-option{
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-option-item{
  margin-top: 6px;
  margin-bottom: 15px;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label{
  color: var(--special-greyight);
}
.button-form--filter{
  padding: 10px 0;
  width: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--active-greylight);
}
/* +++++  slider  ++++++++++++++= */
.slider{
 position: relative;
 width: 620px;
 height: 266px;
}
.slider-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider-item{
  height: 266px;
  padding-left: 24px;

  display: none;
}
.slider-current{
  display: block;
}
.title-slide{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding: 23px 0 5px 0;
}
.slide-description{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin: 0;
  padding: 0;
}
.slider-item--perf{
  background-image: url(../img/slide-perf.jpg);
}
.slider-item--drill{
  background-image: url(../img/slide-drill.jpg);
}
.slider-control{
  position: absolute;
  bottom: 104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-control--button{
  margin-left: 24px;
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-left-arrow.svg);
  cursor: pointer;
}
.slider-control--button:hover,
.slider-control--button:focus,
.slider-control--button:active{
  outline: none;
}
.slider-control--left{

}
.slider-control--right{
  margin-right: 21px;
  transform: rotate(180deg);
}
.slider-tabs {
  position: absolute;
  bottom: 35px;
  left: 47.5%;
  z-index: 20;
  width: 30px;
  display: flex;
  justify-content: space-between;
}
.slider-tabs button{
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-tabs .active-tab{
  background-color: var(--basic-red);
}
/* +++++++++++Modal+++++++++++++ */
.modal{
  position: fixed;
  z-index: 100;
  margin:auto;
  /* top: 120px; */
  top: 50%;
  transform: translateY(-50%);
  left:0;
  right:0;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 4px 4px var(--black-transparent25));
}
@keyframes modalShowY {
  0%    { transform: translateY(-1000px);}
  /* 50%   { transform: translateY( 100px);} */
  60%   { transform: translate(0);}
  100%  { transform: translateY(-50%);}
}
@keyframes modalShowX {
  0%    { transform: translate(-1200px, -50%);}
  70%   { transform: translate( 100px, -50%);}
  100%  { transform: translate(0, -50%);}
}
@keyframes shake {
  0%, 100%                { transform: translate(0, -50%);}
  10%, 30%, 50%, 70%, 90% { transform: translate(-10px, -50%);}
  20%, 40%, 60% ,80%      { transform: translate(10px, -50%);}
}
.modal-showY{
  animation-name: modalShowY;
  animation-duration: 0.5s;
}
.modal-showX{
  animation-name: modalShowX;
  animation-duration: 0.5s;
}
.modal-error{
  animation-name: shake;
  animation-duration: 0.5s;
}
.modal-write-us{
  width: 620px;
}
.form-write-us{
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.modal-container{
  width: 460px;
  margin: 0 auto;
  padding: 0;
}
.grid-form-write-us{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}
.label-name{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 220px;
}
.label-email{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  min-width: 220px;
}
.field{
  margin-top: 11px;
  padding: 7px 0 7px 12px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  width: 100%;
}
.field::placeholder{
  color: var(--special-price-grey);
}
.text-write-us{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.text-comment{
  min-height: 114px;
  height:114px;
  max-height: 400px;
  resize: vertical;
}
.bacground-wrap{
  height: 112px;
  background-color: var(--special-background-grey);
}
.center-box{
  display: flex;
  height: 100%;
  align-items: center;
}
.button-send{
  width: 100%;
}
.modal-map{
  width: 940px;
  height: 450px;
}
.modal-map iframe{
  border: none;
}
.modal-add-cart{
  width: 620px;
  height:282px;
}
.icon-mark{
  position: absolute;
  left: 81px;
  top: 55px;
}
