:root{
	--white: #FFFFFF;
	--black: #000000;
	--basic-red: #EE3643;
	--basic-greylight: #C5C5C5;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-darkgrey: #293449;
	--basic-mediumgrey: #32425C;
	--basic-darkestgrey: #1D2739;

	--special-price-grey: #A9A9A9;
	--special-background-grey: #F1F5F7;
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-light: #F9F5F0;

	--hover-greenlight: #5FBB2D;
	--active-greendark: #518534;

	--hover-red:  #CA2C37;
	--active-red: #BA2732;

	--black-transparent01: rgba(0, 0, 0, 0.01);
	--white-transparent30: rgba(255, 255, 255, 0.3);
	--white-transparent50: rgba(255, 255, 255, 0.5);
	--hover-greylight: rgba(197, 197, 197, 0.3);
	--active-greylight: rgba(169, 169, 169, 0.3);
}
body{
	margin: 0;
	font-family: 'PT Sans','Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
}
img{
	max-width: 100%
}
.page{
	/* Если нет контента, страница занимает весь экран */
	height: 100%;
}
.page-body{
	min-height: 100%;

	display:  grid;
	grid-template-rows: min-content 1fr min-content;
  align-content: start;
  /* row-gap: 70px; */
}
.container{
	width: 940px;
	margin: 0 auto;
}
.hidden{
	display: none;
}

/* Button style */
.button{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
	border: none;
	/* outline: none; */

}
.button-global{
	background-color: var(--basic-red);
}
.button-global:hover{
	/* color: var(--white); */
	background-color: var(--hover-red);
}
.button-global:active {
	/* color: var(--white); */
	background-color: var(--active-red);
}
.button-all-products{
  width: 192px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}
.button-buy{
	box-shadow: inset 0 -3px 0 #367315;
	border-radius: 2px;
 	background-color: var(--basic-green);
}
.button-buy:hover{
	background-color: var(--hover-greenlight);
}
.button-buy:active{
	background-color: var(--active-greendark);
}
.button-tabs{
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--basic-mediumgrey);
	background-color: transparent;
}
.button-tabs:hover{
	border-color: var(--basic-mediumgrey);
}
.button-tabs:active{
	border: 3px solid var(--basic-greylight);
	/* border-color: var(--basic-greylight); */
	color: var(--basic-greylight);
}
.button-open-catalog{

}
.title{
  margin: 0;
  padding: 0;
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
  text-transform: uppercase;
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

/* Header */
.header{
	padding-bottom: 60px;
	background-color: var(--special-background-grey);
}
.top-header{
	height: 42px;
	background-color: var(--basic-darkgrey);
}
.grid-top-header{
	display: grid;
	grid-template-rows: 42px;
	grid-template-columns: min-content 1fr 150px 150px 150px;
}
.logo{

}
.logo-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
 	height: 47px;
 	background: var(--basic-red);
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
 }
.search{

	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: transparent;
	border: none;
}
.search:focus{
	background-color: var(--white);
}
.search::-webkit-input-placeholder{
	color: var(--white);
}
.search::-moz-placeholder{
	color: var(--white);
	opacity: 1;
}
.header-link
{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-link:active{
	color: var(--white-transparent50);
}
.header-link-order{
	background-color: var(--basic-green);
}
.header-link-order:hover{
	background-color: var(--hover-greenlight);
}
.header-link-cart-active{
	background-color: var(--basic-red);
}
.grid-header{
	display: grid;
	grid-template-rows: 158px 60px;
	grid-template-columns: 1fr 1fr 1fr;
}
.brief-description{
	font-family: 'Cuprum','Arial', sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
}
.contact-phone{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-red);
	text-decoration: none;
	border: 3px solid var(--white);
	box-sizing: border-box;
}
.contact-address{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-mediumgrey);
}
.button-account{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: var(--black);
	border: none;
	outline: none;
	background-color: var(--white);
}
.button-account:hover{
	color: var(--basic-red);
}
.button-account:active{
	color: var(--basic-greylight);
}
.button-account--login:hover{
	color: var(--black);
}
.button-account--login:active{
	color: var(--basic-greylight);
}
.list-account-link-item:nth-child(1){
	list-style-type: none;
}
.account-link{
	font-family: 'Cuprum','Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-mediumgrey);
	text-decoration: none;
}
.account-link:hover{
	color: var(--basic-red);
}
.account-link:active{
	color: var(--basic-greylight);
}
.navigation{
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: var(--basic-mediumgrey);
  box-shadow: inset 0 -5px 0 var(--basic-darkgrey);

  display: flex;
  justify-content: center;
}
.list-navigation{
	margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
	list-style: none;

  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.list-navigation-item{
  display: flex;
}
.navigation-link{
  padding-right: 28px;
  padding-left: 28px;

	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navigation-link:visited{
	/* color: var(--white); */
}
.navigation-link:hover{
	background-color: var(--basic-darkgrey);
}
.navigation-link:active{
	background-color: var(--basic-darkestgrey);
	color: var(--white-transparent50);
}

/* Main */
/* Products */
.products{
  	padding-top: 59px;
 	padding-bottom: 59px;
	background-color: var(--white);
	display: grid;
	align-content: start;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 123px 123px 123px;
	column-gap: 20px;
	row-gap: 20px;

	grid-template-areas:
		"list-products list-products list-products"
		"slider        slider        products-serv"
		"slider        slider        products-serv"
	;
}
.gallery-content{
	grid-area: slider;
}
.list-products{
	padding: 0;
	margin: 0;
	list-style: none;
	color: var(--white);

	grid-area: list-products;
	/* display: flex; */
	display: grid;
	align-content: start;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}
.list-products-serv{
	padding: 0;
	margin: 0;
	list-style: none;
	color: var(--white);
	grid-area: products-serv;
	display: grid;
	align-content: start;
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
}
.list-products-item a {
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
}
.list-products-item a:visited{
	color: var(--white);
}
.product-description{
	font-family: 'Cuprum','Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--white-transparent30);
	color: var(--white);
}
.product-description:hover{
	background-color: var(--hover-greylight);
}
.product-description:active{
	background-color: var(--active-greylight);
}
.list-products-item{
  position: relative;
  overflow: hidden;
  height: 123px;

}
.list-products-item--material
{
	background-color: var(--special-yellow);
}
.list-products-item--tools{
	background-color: var(--special-blue);
}
.list-products-item--tehc{
	background-color: var(--special-lilac);
}
.list-products-item--discount{
	background-color: var(--special-greenlight);
}
.list-products-item--delivery{
	background-color: var(--special-yellowlight);
}

/* Section popular-products */
.popular-products{
 	display:  grid;
 	grid-auto-rows: 89px 1fr;
 	row-gap: 20px;

}
.popular-products--header,
.popular-makers--header
{
  display: flex;
  background-color: var(--special-light);
  /* align-items: center; */

}
.list-popular-product{
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	column-gap:  20px;
	list-style: none;
}

.list-popular-product-item{
	position: relative;
	width: 220px;
	height: 318px;
	background-color: var(--white);
	border: 1px solid var(--active-greylight);
	overflow: hidden;

}
.new-thing::before{
	content: "new";
	position: absolute;
	top: 8px;
	right: -27px;
	width: 100px;
	height: 30px;
	transform: rotate(45deg);

	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--basic-red);
}
.list-popular-product-item:hover{
	filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
}
.popular-product-description{
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}
.price{
	margin: 0;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	/* text-align: center; */
	text-transform: uppercase;
}
.price-past{
	text-decoration-line: line-through;
	color: var(--special-price-grey);
}
.price-present{
	width: 141px;
	/* height: 38px; */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	border-radius: 2px;
	color: var(--white);
	background-color: var(--basic-red);
	background-image:   linear-gradient(225deg, white 25%, transparent 25%),
    					linear-gradient(315deg, white 25%, transparent 25%);
}
/* Section popular-makers */
.popular-makers{
	display: grid;
	grid-template-rows: 89px 1fr;
	row-gap: 20px;
}
.list-makers{
	padding: 0;
	margin: 0;
	list-style: none;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 20px;
	column-gap: 20px;

}
.list-makers-item{
	width: 220px;
	height: 145px;
	background-color: var(--white);
	/* border:  1px solid red; */
	border: 1px solid var(--special-background-grey);
	/* border-style: inset; */
	display: flex;
  	align-items: center; /*выравнивания элементов вдоль поперечной оси*/
  	justify-content: center;
}
.list-makers-item:hover{
	filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
}
.list-makers-item:active{
	opacity: 0.5;
	filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));
}
.maker-link{
	/* display: flex; */
	/* margin: 50px auto; */
	/* width: 220px; */
	/* height: 145px;	 */
}

/* Section services */
.services{
	background-color: var(--special-background-grey);
}
.grid-services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content  1fr;
}
.about-service{
  grid-column-start: 1;
  grid-column-end: -1;
}
.list-services{
  margin: 0;
  padding: 0;
  list-style: none;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.description-services-item--activate{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.list-services-item{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: var(--white);
	background-color: var(--basic-mediumgrey);
}
.list-services-item:hover{
	background-color: var(--basic-darkgrey);
}
.activate{
	color: var(--basic-mediumgrey);
	background-color: var(--white);
}

/* Section company */
.grid-company-contacts{
	display:  grid;
	grid-template-columns: 2fr 1fr;
}
.list-partners{
	list-style: none;
}
.list-partners-item{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
 /* Footer */
 .footer{
 	background-color: var(--basic-mediumgrey);
 }
 .footer-top{
 	display: grid;
 	grid-template-columns: min-content 1fr;
 }
 .footer-bottom{
 	background-color: var(--basic-darkgrey);
 }
 .grid-footer-bottom{
    display: grid;
    grid-template-columns: 380px 250px 1fr 1fr;
 }
 .logo-footer{
 	width: 220px;
 	height: 68px;
 	display: flex;
	align-items: center;
	justify-content: center;
 	background-color: var(--basic-red);
 	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
 }
 .contacts-footer{
   max-width: 380px;
 }
 .contact-footer-description{
 	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
 	color: var(--special-background-grey);
 }
 .footer-navigation{
 }
.navigation-link--footer{
 	color: var(--special-background-grey);
 	/* background-color: red; */
 }
 .navigation-link--footer:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
 .navigation-link--footer:active{
	opacity: 0.5;
 }
.navigation-link-product--footer{
 	color: var(--special-yellowlight);
 	/* background-color: red; */
 }
.navigation-link-product--footer:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
.navigation-link-product--footer:active{
	color: var(--special-yellowlight);
	opacity: 0.5;
 }
.copyright{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.list-social{
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-button{
	color: var(--white);
}
.mail{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.mail-address{
	color: var(--special-yellowlight);
}
.mail-address:hover{
	text-decoration: underline;
}
.mail-address:active{
	color: var(--active-red);
	text-decoration: none;
}
.maker{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.site{
	color: var(--special-yellowlight);
	text-decoration: none;
}
.site:hover{
	text-decoration: underline;
}
.site:active{
	color: var(--active-red);
	text-decoration: none;
}

/* Catalog */
.grid-catalog{
	display: grid;
	align-content: start;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 50px 38px 1fr 38px;
}
.breadcrumbs{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row; /* значение по умолчанию, главная ось направлена слева направо */
	justify-self: flex-start; /* элементы располагаются у начала главной оси */
	list-style-image: none;

	grid-column-start: 1;
	grid-column-end: -1;

	outline: 5px solid rgba(0, 255, 0, 0.7);
 	outline-offset: -5px;
}
.breadcrumbs-link{
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.breadcrumbs-link:visited {
	color: inherit;
}
.breadcrumbs-link:hover {
	color: inherit;
}
.breadcrumbs-link:active {
	color: inherit;
}
.title-catalog{
	margin: 0;
	padding: 0;
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: var(--special-background-grey);
}
.filter{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: -1;
}
.sort{
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 3;
	grid-row-end: 4;
}
.list-popular-product--catalog{
	margin: 0;
	padding: 0;

	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: -2;

	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px;
	column-gap:  20px;
	list-style: none;
}
.pagination{
	margin: 0;
	padding: 0;
	grid-column-start: 2;
	grid-column-end: -1;
	list-style: none;
}
.pagination-link{
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	border: 1px solid var(--active-greylight);
	box-sizing: border-box;
	border-radius: 2px;
}
.pagination-link:visited {
	color: inherit;
}
.pagination-link:hover {
	border-color: var(--basic-greylight);
}
.pagination-link:active {
	border-color: var(--basic-red);
}
.pagination-link--active{
	border: none;
	border-radius: 1px;
	color: var(--white);
	background-color: var(--basic-red);
}
.about{
	background-color: var(--special-background-grey);
}
.modal-add-cart{

}
.add-success{
	font-family: Cuprum,'Arial', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
.button-resume{
	background-color: var(--white);
	color: var(--black)
}
.modal-add-cart--bottom{
	background-color: var(--special-background-grey);
}
