/* vs code */
/* font-family: 'PT Sans', sans-serif; */
body{
	margin: 0;
	font-family: 'PT Sans','Arial', sans-serif;
	/* font-family: 'Cuprum', 'Arial', sans-serif; */
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;

}
img{
	max-width: 100%
}
:root{

	--white: #FFFFFF;
	--black: #000000;
	--basic-red: #EE3643;
	--basic-greylight: #C5C5C5;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-darkgrey: #293449;
	--basic-mediumgrey: #32425C;
	--basic-darkestgrey: #1D2739;
	
	--special-price-grey: #A9A9A9;
	--special-background-grey: #F1F5F7;
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;

	--hover-greenlight: #5FBB2D;
	--active-greendark: #518534;

	--hover-red:  #CA2C37;
	--active-red: #BA2732;

	--black-transparent01: rgba(0, 0, 0, 0.01);
	--white-transparent30: rgba(255, 255, 255, 0.3);
	--white-transparent50: rgba(255, 255, 255, 0.5);
	--hover-greylight: rgba(197, 197, 197, 0.3);
	--active-greylight: rgba(169, 169, 169, 0.3);
}
.container{
	width: 940px;
	margin: 0 auto;
}

/* Button style */
.button{
	font-family: 'Cuprum';
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
	border: none;
	outline: none;

}
.button-global{
	background-color: var(--basic-red);
}
.button-global:hover{
	/* color: var(--white); */
	background-color: var(--hover-red);
}
.button-global:active {
	/* color: var(--white); */
	background-color: var(--active-red);
}
.button-buy{
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
 	background-color: var(--basic-green);
}
.button-buy:hover{
	background-color: var(--hover-greenlight);
}
.button-buy:active{
	background-color: var(--active-greendark);
}
.button-tabs{
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--basic-mediumgrey);
	background-color: transparent;
}
.button-tabs:hover{
	border-color: var(--basic-mediumgrey);
}
.button-tabs:active{
	border: 3px solid var(--basic-greylight);
	/* border-color: var(--basic-greylight); */
	color: var(--basic-greylight);
}
.title{
	font-family: Cuprum;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
/* Header */
.header{
	background-color: var(--special-background-grey);
	/* background-color: var(--black-transparent01); */
}
.top-header{
	background-color: var(--basic-darkgrey);
}
.logo-header{

}
.search{
	font-family: 'Cuprum';
	font-size: 18px;
	line-height: 24px;
	background-color: transparent;
	border: none;
}
.search:focus{
	background-color: var(--white); 
}
.search::-webkit-input-placeholder{ 
	color: var(--white); 
}
.search::-moz-placeholder{
	color: var(--white);
	opacity: 1;
}
.header-link
{
	font-family: 'Cuprum';
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
}
.header-link:active{
	color: var(--white-transparent50);

}
.header-link-order{
	background-color: var(--basic-green);
}
.header-link-order:hover{
	background-color: var(--hover-greenlight);
}
.brief-description{
	font-family: 'Cuprum';
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
}
.contact-phone{
	font-family: 'Cuprum';
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-red);
	text-decoration: none;
}
.contact-address{
	font-family: 'Cuprum';
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-mediumgrey);
}
.button-account{
	font-family: 'Cuprum';
	font-size: 21px;
	line-height: 21px;
	color: var(--black);
	border: none;
	outline: none;
	background-color: var(--white);
}
.button-account:hover{
	color: var(--basic-red);
}
.button-account:active{
	color: var(--basic-greylight);
}
.navigation{
	background-color: var(--basic-mediumgrey);
	box-shadow: inset 0px -5px 0px var(--basic-darkgrey);
}
.list-navigation{
	list-style: none;
}
.list-navigation a{
	font-family: 'Cuprum';
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	text-decoration: none;
}
.list-navigation a:visited{
	color: var(--white);
}
.list-navigation a:hover{
	background-color: var(--basic-darkgrey);
}
.list-navigation a:active{
	background-color: var(--basic-darkestgrey);
	color: var(--white-transparent50);
}

/* Main */
/* Products */
.products{
	background-color: var(--white);
}
.list-products{
	list-style: none;
	color: var(--white);
}
.list-products a {
	font-family: 'Cuprum';
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
}
.list-products a:visited{
	color: var(--white);
}
.product-description{
	font-family: 'Cuprum';
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--white-transparent);
	color: var(--white);
}
.product-description:hover{	
	background-color: var(--hover-greylight);
}
.product-description:active{
	background-color: var(--active-greylight);
}
.list-products-item{

}
.product-material
{
	background-color: var(--special-yellow);	
}
.product-tools{
	background-color: var(--special-blue);
}
.product-tehc{
	background-color: var(--special-lilac);
}
.product-discount{
	background-color: var(--special-greenlight);
}
.product-delivery{
	background-color: var(--special-yellowlight);
}

/* Section popular-products */
.popular-products{

}
.list-popular-product{
	list-style: none;
}
.popular-product-description{
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}
.price{
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
.price-past{
	text-decoration-line: line-through;
	color: var(--special-price-grey);
}
/* Section popular-makers */
.list-makers{
	list-style: none;
}
.list-makers a{
	
}
.list-makers a:hover{
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.list-makers a:active{
	opacity: 0.5;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
/* Section services */
.services{
	background-color: var(--special-background-grey);
}
.list-services{
	list-style: none;
}
.list-services-item{
	font-family: Cuprum;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: var(--white);
	background-color: var(--basic-mediumgrey);
}
.list-services-item:hover{
	background-color: var(--basic-darkgrey);
}
.activate{
	color: var(--basic-mediumgrey);
	background-color: var(--white);
}

/* Section company */
.list-partners{
	list-style: none;
}
.list-partners-item{
	font-family: Cuprum;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
 /* Footer */
 .footer{
 	background-color: var(--basic-mediumgrey);
 }
 .bottom-footer{
 	background-color: var(--basic-darkgrey);
 }
 .contact-footer-description{
 	font-family: Cuprum;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
 	color: var(--special-background-grey);
 }
.list-navigation-item-footer a{
 	color: var(--special-background-grey);
 	/* background-color: red; */
 }
 .list-navigation-item-footer a:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
 .list-navigation-item-footer a:active{
	opacity: 0.5;
 }
.navigation-product-footer a{
 	color: var(--special-yellowlight);
 	/* background-color: red; */
 }
.navigation-product-footer a:hover{
 	text-decoration: underline;
 	background-color: inherit;
 }
.navigation-product-footer a:active{
	color: var(--special-yellowlight);
	opacity: 0.5;
 }
.copyright{
	font-family: Cuprum;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.social-button{
	color: var(--white);
}
.mail{
	font-family: Cuprum;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.mail-address{
	color: var(--special-yellowlight);
}
.mail-address:hover{
	text-decoration: underline;
}
.mail-address:active{
	color: var(--active-red);
	text-decoration: none;
}
.maker{
	font-family: Cuprum;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}
.site{
	color: var(--special-yellowlight);
	text-decoration: none;
}
.site:hover{
	text-decoration: underline;
}
.site:active{
	color: var(--active-red);
	text-decoration: none;
}